*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea/misc.xml
/.idea/
build/
/.git/.MERGE_MSG.swp
localhost/
obj/
Gemfile
Gemfile.lock
_site/
/captures/
buildsrc
app/proguard.txt
